<br/>
<br/>

<div class="center ">
  <div>
    <% @beaches.each do |beach| %>
      <div
        class="col-sm-5 columns beach_container"
        style="
          background: url('<%= beach.picture_url%>');
          background-size: cover; height: 400px;"
      >
        <h2>
            <%= link_to beach.name, beach_path(beach) %>
            <br/>
            <span class="beach_index_location_header">
              <%= beach.city %>,
              <%= beach.state %>
            </span>
        </h2>
      </div>
      <div class="col-sm-1"></div>
    <% end %>
  </div>
</div>

<div class="clear"></div>

<div>
  <%= paginate @beaches %>
</div>
