<h1>
  <%= @beach.name %>
</h1>
<p>
    <%= @beach.description %>
</p>
<p>
    <%= @beach.street1 %>
</p>
<p>
    <%= @beach.street2 %>
</p>
<p>
    <%= @beach.city %>
</p>
<p>
    <%= @beach.state %>
</p>
<p>
    <%= @beach.zip %>
</p>
<p>
    <%= @beach.entrance_fee %>
</p>
<p>
    <%= @beach.picture_url %>
</p>
<p>
    <% @beach.amenities.each do |amenity| %>
      <%= amenity.name %>
      <br/>
    <% end %>
</p>

<br/>
<% if @reviews.first.nil? %>
  No reviews exist.
  <br/>
  <% if user_signed_in? %>
    <%= link_to "Add a Review", new_beach_review_path(@beach) %>
  <% end %>
<% else %>
  <% if user_signed_in? %>
    <%= link_to "Add a Review", new_beach_review_path(@beach) %>
  <% end %>
  <% @reviews.each do |review| %>
    <br/>
    Rating: <%= review.rating %>
    <br/>
    Description: <%= review.description %>
    <br/>
    Score: <%= review.score %>
    <br/>

    <% if user_signed_in? && review.user == current_user %>
      <li><%= link_to "Edit Review", edit_beach_review_path(@beach, review)%></li>
      <li><%= link_to "Delete Review", "/beaches/#{@beach.id}/reviews/#{review.id}",
        class: "btn btn-small btn-danger form-control",
        method: :delete, data: { confirm: "Are you sure?" }
      %></li>
    <% end %>

    <% if user_signed_in? %>
      <% if review.upvotes.find_by(user_id: current_user.id) %>
        <%=
          link_to "Delete Upvote", review_upvote_path(review, Upvote.all.first),
          method: :delete,
          class: "btn btn-small btn-danger form-control"
        %>
      <% elsif review.downvotes.find_by(user_id: current_user.id) %>
        <%=
          link_to "Delete Downvote", review_downvote_path(review, Downvote.all.first),
          method: :delete,
          class: "btn btn-small btn-danger form-control"
        %>
      <% else %>
        <%= link_to "Upvote", review_upvotes_path(review), method: :post %>
        |
        <%= link_to "Downvote", review_downvotes_path(review), method: :post %>
      <% end %>
    <% end %>

  <% end %>

  <hr/>
<% end %>
<%= link_to "All Beaches", beaches_path %>
<% if @beach.user == current_user %>
  <br/>
  <%= link_to "Update Beach", edit_beach_path(@beach) %>
  <br>
  <%= link_to "Delete Beach", beach_path(@beach),
    class: "btn btn-small btn-danger form-control",
    # Why does this delete-alert pop up twice?
    method: :delete, data: { confirm: "Are you sure?" }
  %>
<% end %>
