<h1><%= @beach.name %></h1>
<p><%= @beach.description %></p>
<p><%= @beach.street1 %></p>
<p><%= @beach.street2 %></p>
<p><%= @beach.city %></p>
<p><%= @beach.state %></p>
<p><%= @beach.zip %></p>
<p><%= @beach.entrance_fee %></p>
<p><%= @beach.picture_url %></p>
<p>
    <% @beach.amenities.each do |amenity| %>
      <%= amenity.name %>
      <br/>
    <% end %>
</p>

<br/>
<% if @reviews.first.nil? %>
  No reviews exist.
  <br/>
  <% if user_signed_in? %>
    <%= link_to "Add a Review", new_beach_review_path(@beach) %>
  <% end %>
<% else %>
  <% if user_signed_in? %>
    <%= link_to "Add a Review", new_beach_review_path(@beach) %>
  <% end %>
  <% @reviews.each do |review| %>
    <% @review = review %>
    <br/>
      Rating: <%= review.rating %>
    <br/>
      Description: <%= review.description %>
    <br/>

    <div class='review-<%= @review.id %>' >
       Score:
       <div id='review-<%= @review.id %>-score'><%= @review.score %></div>
    </div>

    <% if user_signed_in? %>
      <%= link_to "Upvote", review_upvotes_path(review),
        method: :post,
        # This hash will add a `data-meow-button="create"` to the generated form
        form: { data: { 'upvote-button' => 'create' } } %>
      <% unless review.upvotes_from(current_user).nil? %>
        <%= link_to "Remove Upvote", review_upvote_path(review, review.upvotes_from(current_user)),
          method: :delete,
          form: { data: { 'upvote-button' => 'delete' } } %>
      <% end %>

      <%= link_to "Downvote", review_downvotes_path(review),
        method: :post,
        # This hash will add a `data-meow-button="create"` to the generated form
        form: { data: { 'downvote-button' => 'create' } } %>

      <% unless review.downvotes_from(current_user).nil? %>
        <%= link_to "Remove Downvote", review_downvote_path(review, review.downvotes_from(current_user)),
          method: :delete,
          form: { data: { 'downvote-button' => 'delete' } } %>
      <% end %>
    <% end %>
    <br/>

    <% if user_signed_in? && review.user == current_user %>
      <li><%= link_to "Edit Review", edit_beach_review_path(@beach, review)%></li>
      <li><%= link_to "Delete Review", "/beaches/#{@beach.id}/reviews/#{review.id}",
        class: "btn btn-small btn-danger form-control",
        method: :delete, data: { confirm: "Are you sure?" }
      %></li>
    <% end %>

    <% if user_signed_in? %>
      <% if review.upvotes.find_by(user_id: current_user.id) %>
        <%=
          link_to "Delete Upvote", review_upvote_path(review, Upvote.all.first),
          method: :delete,
          class: "btn btn-small btn-danger form-control"
        %>
      <% elsif review.downvotes.find_by(user_id: current_user.id) %>
        <%=
          link_to "Delete Downvote", review_downvote_path(review, Downvote.all.first),
          method: :delete,
          class: "btn btn-small btn-danger form-control"
        %>
      <% end %>
    <% end %>

  <% end %>

  <hr/>
<% end %>
<%= link_to "All Beaches", beaches_path %>
<% if @beach.user == current_user %>
  <br/>
  <%= link_to "Update Beach", edit_beach_path(@beach) %>
  <br>
  <%= link_to "Delete Beach", beach_path(@beach),
    class: "btn btn-small btn-danger form-control",
    # Why does this delete-alert pop up twice?
    method: :delete, data: { confirm: "Are you sure?" }
  %>
<% end %>
