<div>
    <%= image_tag(@beach.picture_url, class: "img-responsive")  %>
</div>

<div id="beach_snapshot" class="center">
  <h1>
    <%= @beach.name %>
  </h1>
  <span>
    <%= @beach.city %>, <%= @beach.state %>
  </span>
  <div class="row" id="beach_snapshot_icon_container">
    <div class="col-xs-8 col-xs-offset-4">
      <div class="row" align="center">
        <div class="col-xs-2">
          <%= image_tag("beach_umbrella_50.png", class: "img-responsive")  %>
          Amenities
        </div>
        <div class="col-xs-2">
          <%= image_tag("dollar_sign_50.png", class: "img-responsive")  %>
          Entrance Fee
        </div>
        <div class="col-xs-2">
          <%= image_tag("thumbs_up_50.png", class: "img-responsive")  %>
          Rating
        </div>
      </div>
    </div>
  </div>
</div>

<div class="well lead" align="center">
  <h2>About This Beach</h2>
  <p class="lead">
      <%= @beach.description %>
  </p>
  <hr>
  <div class="row">
    <div class="col-sm-2 col-centered">
      <div class="section_title">Location</div>
    </div>
    <div class="col-sm-3 col-centered">
      <p>
        <%= @beach.street1 %> <br/>
        <%= @beach.city %>,
        <%= @beach.state %> <br/>
        <%= @beach.zip %>
      </p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-sm-2 col-centered">
      <div class="section_title">Amenities</div>
    </div>
    <div class="col-sm-3 col-centered">
      <div class="row">
        <div class="col-sm-6 col-centered">
          <% @beach.amenities.each do |amenity| %>
            <div>
              <div class="inline_block">
                <%= image_tag("#{amenity.name.downcase}_32.png", class: "img-responsive")  %>
              </div>
              <div class="inline_block amenity_name"><%= amenity.name %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row center">
    <div class="col-sm-2 col-centered">
      Prices
    </div>
    <div class="col-sm-3 col-centered">
      <p>
        Entrance Fee:
        <% if @beach.entrance_fee == 0 %>
          Free!
        <% else %>
          $<%= @beach.entrance_fee %>0
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="lead">
  <h3>
    <%= pluralize(@reviews.count, "review") %>
  </h3>
  <% if @reviews.first.nil? %>
    <% if user_signed_in? %>
      <%= link_to "Add a Review", new_beach_review_path(@beach) %>
    <% end %>
  <% else %>
    <% if user_signed_in? %>
      <%= link_to "Add a Review", new_beach_review_path(@beach) %>
    <% end %>
    <% @reviews.each do |review| %>
      <br/>
      Rating: <%= review.rating %>
      <br/>
      Description: <%= review.description %>
      <br/>
      Score: <%= review.score %>
      <br/>

      <% if user_signed_in? && review.user == current_user %>
        <li><%= link_to "Edit Review", edit_beach_review_path(@beach, review)%></li>
      <% end %>
      <% if (user_signed_in? && review.user == current_user) || (user_signed_in? && current_user.role == 'admin') %>
        <li><%= link_to "Delete Review", "/beaches/#{@beach.id}/reviews/#{review.id}",
          id: "delete-review#{review.id}",
          class: "btn btn-small btn-danger form-control",
          method: :delete, data: { confirm: "Are you sure?" }
        %></li>
      <% end %>

      <% if user_signed_in? %>
        <% if review.upvotes.find_by(user_id: current_user.id) %>
          <%=
            link_to "Delete Upvote", review_upvote_path(review, Upvote.all.first),
            method: :delete,
            class: "btn btn-small btn-danger form-control"
          %>
        <% elsif review.downvotes.find_by(user_id: current_user.id) %>
          <%=
            link_to "Delete Downvote", review_downvote_path(review, Downvote.all.first),
            method: :delete,
            class: "btn btn-small btn-danger form-control"
          %>
        <% else %>
          <%= link_to "Upvote", review_upvotes_path(review), method: :post %>
          |
          <%= link_to "Downvote", review_downvotes_path(review), method: :post %>
        <% end %>
      <% end %>
    <% end %>

    <%= paginate @reviews %>

    <hr/>
  <% end %>
</div>


<% if @beach.user == current_user %>
  <div class="row">
    <div class="col-xs-6">
      <%= link_to "Update Beach", edit_beach_path(@beach), class: "btn btn-warning form-control" %>
    </div>
    <div class="col-xs-6">
      <% if (@beach.user == current_user) || (user_signed_in? && current_user.role == 'admin') %>
        <%= link_to "Delete Beach", beach_path(@beach),
          class: "btn btn-small btn-danger form-control",
          # Why does this delete-alert pop up twice?
          method: :delete, data: { confirm: "Are you sure?" }
        %>
      <% end %>
    </div>
  </div>
  <br/>
<% end %>
