<!DOCTYPE html>
<html>
  <head>
    <title>Life's a Beach</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div>
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type} center") %>
        <% end %>
      </div>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation">
              <%= render "shared/search_form" %>
            </li>
            <li role="presentation">
              <% if current_user %>
                <% if current_user.role == 'admin' %>
                  <li><%= link_to 'View All Users', users_path %></li>
                <% end %>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                <li><%= link_to "Change Account Information", edit_user_registration_path %></li>
              <% else %>
                <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                <li><%= link_to 'Sign In', new_user_session_path %></li>
              <% end %>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">
          <%= link_to "Life\'s a Beach", beaches_path %>
        </h3>
      </div>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
  </body>
</html>
